.expense-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-content: center; 
    height: 5vh;
    margin: 5px;
    padding: 3px;
    color: #0D090A;
}

#expense-table-header {
    background-color: #34495e;
    color: white;
}

.expense-item {
    background-color: #EAF2EF;
    border-bottom: 0.5px #0D090A solid;
}