.fab {
    position: fixed;
    bottom: 10px;
    right: 10px;
    &:hover {
        cursor: pointer;
    }
}
  
.fab {
    .MuiFab-primary {
        background-color:#34495E;
        &:hover {
            background-color: #272838;
        }
    }
}