.fab {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.fab:hover {
  cursor: pointer;
}
.fab .MuiFab-primary {
  background-color: #34495E;
}
.fab .MuiFab-primary:hover {
  background-color: #272838;
}
